// 图书信息页面样式
.book {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  // 图书操作栏样式
  .book-header {
    margin-bottom: 24px;

    input,
    button {
      height: 40px;
    }

    .search-page-pane {
      display: flex;
      justify-content: center;
    }

    // 搜索框样式
    .el-select div {
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
    }
    .el-input div {
      border-radius: 0;
    }
    .search-button {
      width: 100%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      height: 42px;
    }
  }

  // 图书表格样式
  .book-table {
    height: calc(100% - 80px);
    .el-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-height: calc(100% - 16px);

      .el-table {
        min-height: 100%;
        max-height: 100%;
        margin-bottom: 16px;

        .el-table__cell {
          height: 60px;
        }
      }
    }
  }
}
